/*
	Created by Tatum Manning
	
	The goal of this project was to create a web page for a fictional store
	called "Grannie's Pies" as well as a web page devoted to a lemon meringue
	pie recipe. 
	
*/

body {
	font-family: "Georgia";
	background-color: #C2A07E;
	
}

h1 {
	text-align: center;
	
}

.motto {
	font-size: 15pt;
	
}

